name: build nixos-runner

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    # container: docker.io/jcollie/nixos-runner:latest
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Set up cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          use-flakehub: false

      - name: Build
        run: |
          nix build -L .#nixos-runner

      - name: Push container
        run: nix run .#push-container -- result
        env:
          REGISTRY: ghcr.io
          REPOSITORY: ${{ github.repository_owner }}/nixos-runner
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ github.token }}
