name: build nixos-runner
on:
  - push
jobs:
  build:
    runs-on: ubuntu-24.04
    container: docker.io/jcollie/nixos-runner:64-47000729b
    steps:
      - uses: actions/checkout@v4
      - run: set
      - run: nix build -L .#nixos-runner
      - run: nix run .#push-container -- result
        env:
          REGISTRY: ghcr.io
          REPOSITORY: ${{ github.repository_owner }}/nixos-runner
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ github.token }}
