name: build nixos-runner
on:
  - push
jobs:
  build:
    runs-on: ubuntu-24.04
    container: docker.io/jcollie/nixos-runner:latest
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - name: Set up cache
        run: |
          nix run .#attic-client -- login ${{ vars.ATTIC_SERVER }} ${{ vars.ATTIC_ENDPOINT }} ${{ secrets.ATTIC_TOKEN }}
          nix run .#attic-client -- use ${{ vars.ATTIC_CACHE }}
      - name: Build
        run: |
          nix build -L .#docker-client
          nix run .#attic-client -- push ${{ vars.ATTIC_CACHE }} result
          nix build -L .#git
          nix run .#attic-client -- push ${{ vars.ATTIC_CACHE }} result
          nix build -L .#push-container
          nix run .#attic-client -- push ${{ vars.ATTIC_CACHE }} result
          nix build -L .#nixos-runner
          nix run .#attic-client -- push ${{ vars.ATTIC_CACHE }} result
      - name: Push results to cache
        run: |
          nix run .#attic-client -- push ${{ vars.ATTIC_CACHE }} result
      - name: Push container
        run: nix run .#push-container -- result
        env:
          REGISTRY: ghcr.io
          REPOSITORY: ${{ github.repository_owner }}/nixos-runner
          USERNAME: ${{ github.actor }}
          PASSWORD: ${{ github.token }}
