name: build nixos-runner
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    container: docker.io/jcollie/nixos-runner:latest
    steps:
      - uses: actions/checkout@v3
      - run: set
      - run: nix build -L .#nixos-runner
      - run: nix run .#push-container -- result
        with:
          registry: ghcr.io/${{ github.repository_owner }}
          repository: nixos-runner
          username: ${{ github.actor }}
          password: ${{ github.token }}
